@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto+Mono:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  padding-top: 10rem;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

footer {
  padding: 7em 0;
}

.footer-10 {
  background: #198754;
  padding: 0 0 4em 0;
}

.footer-10 .border-top,
.footer-10 .border-bottom {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.footer-10 .footer-heading {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-10 p {
  color: #FFF;
}

.footer-10 a {
  color: #1089ff;
}

.footer-10 .con.con-1 {
  background: #1e1e1e;
}

.footer-10 .con.con-2 {
  background: #1c1c1c;
}

.footer-10 .con.con-3 {
  background: #252525;
}

.footer-10 .list-unstyled li a {
  color: #FFF;
}

.footer-10 .list-unstyled li a:hover {
  color: #fff;
}

.footer-10 .con-info .icon {
  width: 50px;
  height: 50px;
  background: #1089ff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer-10 .con-info .icon span {
  color: #fff;
  font-size: 24px;
}

.footer-10 .con-info span {
  color: rgba(255, 255, 255, 0.8);
}

.footer-10 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.footer-10 .subscribe-form .form-group input {
  background: white !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 16px;
  border-radius: 0;
}

.footer-10 .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-10 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 130px;
  /* height: 52px; */
  font-size: 16px;
  background: #1089ff !important;
  border: none;
  border-radius: 0;
}

.footer-10 .subscribe-form .form-group .submit:hover,
.footer-10 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer-10 .subscribe-form .subheading {
  display: inline-block;
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
}

.footer-10 .ftco-footer-social li a {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}


.first-slider .slider {
  width: 100%;
  margin: 0px auto;
}

.first-slider .slick-slide {
  margin: 0px 50px;
}

.first-slider .slick-slide img {
  width: 100%;
  height: 475px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.first-slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.first-slider .slick-active {
  opacity: .5;
}

.first-slider .slick-current {
  opacity: 1;
}

.secound-slider .slider {
  width: 75%;
  margin: 0px auto;
}

.secound-slider .slick-slide {
  margin: 0px 50px;
}

.secound-slider .slick-slide img {
  width: 100%;
  height: 475px;
}

.secound-slider .slick-slide {
  transition: all ease-in-out .3s;
}

.text {
  color: brown;
  font-size: 220px;
  text-align: center;
}

.open {
  color: green;
  background: #000;
  padding: 10px;
  border-radius: 20px;
}

/* Preloader */
.container-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1500;
}

.container-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top-color: green;
  /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
  text-align: center;
  user-select: none;
}

.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;
  color: orange;
  content: attr(preloader-text);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.container-preloader .animation-preloader .txt-loading .characters {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}

.container-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.container-preloader .loader-section.section-left {
  left: 0;
}

.container-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animation of the preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

/* Animation of letters loading from the preloader */
@keyframes characters {

  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {

  /* Preloader */
  /* Spinner Loading */
  .container-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  /* Text Loading */
  .container-preloader .animation-preloader .txt-loading {
    font: bold 3.5em 'Montserrat', sans-serif;
  }
}

@media screen and (max-width: 500px) {

  /* Prelaoder */
  /* Spinner Loading */
  .container-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  /*Loading text */
  .container-preloader .animation-preloader .txt-loading {
    font: bold 2em 'Montserrat', sans-serif;
  }
}

.origin {
  text-decoration: none;
  font-size: 45px;
}

.wrapper {
  max-width: 500px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px 40px;
  /* box-shadow: 20px 20px 80px rgb(206, 206, 206) */
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #198754;
  color: #198754
}


input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  font-family: 'Poppins', sans-serif
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none
}

a {
  text-decoration: none;
  color: #198754;
  font-weight: 700
}

.option {
  position: relative;
  padding-left: 30px;
  cursor: pointer
}

.option label.text-muted {
  display: block;
  cursor: pointer
}

.option input {
  display: none
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer
}

.option input:checked~.checkmark:after {
  display: block
}

.option .checkmark:after {
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  background: #198754;
  position: absolute;
  top: 48%;
  left: 53%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
  background: #fff;
  transition: 300ms ease-in-out 0s;
  border: 1px solid #198754
}

.option input[type="radio"]:checked~.checkmark:after {
  transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
  border-radius: 20px;
  background-color: #198754;
  color: #fff
}


@media(max-width: 575px) {
  .wrapper {
    margin: 10px
  }
}

@media(max-width:424px) {
  .wrapper {
    padding: 30px 10px;
    margin: 5px
  }

  .option {
    position: relative;
    padding-left: 22px
  }

  .option label.text-muted {
    font-size: 0.95rem
  }

  .checkmark {
    position: absolute;
    top: 2px
  }

  .option .checkmark:after {
    top: 50%
  }

  #forgot {
    font-size: 0.95rem
  }
}